<h1>Add a new Course</h1>

<form action="/courses" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name"><br>

  <label for="professor">Professor: </label>
  <input type="text" name="professor"><br>

  <label for="credits">Credits: </label>
  <input type="text" name="credits"><br>

  <input type="submit" value="submit">
</form>